/* Body */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Alike Angular', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #27374D;
}

/* Header */

header {
    font-family: 'Inter', sans-serif;
    background-color: #27374D;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    color: #fff;
}

.logo img {
    height: 80px;
    width: auto;
}

nav {

    position: relative;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 10px;
}

nav ul li:last-child {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.icon {
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

/* Main */

main {
    padding: 20px;
}

h1 {
    text-align: left;
    /* text-align: center; */
    margin-bottom: 20px;
}

h2 {
    font-size: xx-large;
    text-align: left;
    /* text-align: center; */
    margin-bottom: 20px;
}

h3 {
    font-size: xx-large;
    text-align: left;
    /* text-align: center; */
    margin-bottom: 20px;
}

/* image */


.card-img-L {
    padding-top: 30%;
    width: 90%;
}

.card-img-L:hover {
    opacity: 0.5;

}

.card-img {

    width: 90%;

}

.card-img:hover {

    opacity: 0.5;

}

.img1 {
    width: 10%;
    height: 100%;
    margin-top: 130px;
    margin-right: 70px;
}



/* Footer */

footer {
    font-family: 'Hubballi', sans-serif;
    background-color: #526D82;
    color: #DDE6ED;
    padding: 10px;
    text-align: center;
}




/* card */


.card:hover {
    transition: transform 0.1s, box-shadow 0.1s;
    text-decoration: none;
    opacity: 0.5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);


}


.card {

    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    height: 325px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
    color: #333;

    transition: opacity 0.5s ease;

}


.card-text {
    margin-top: 10px;
}

.card-text p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    margin: 5px 0 0 0;
    font-weight: bold;
}

.card-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: inline;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

/* .card{
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
  color: #333;
} */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* footer  */


/* .footer-left {
    text-align: left;
}

.footer-middle {
    text-align: center;
}

.footer-right {
    text-align: right;
}

.footer-left p,
.footer-middle p,
.footer-right p {
    margin: 5px 0;
}

.social-media-icons img {
    width: 30px;
    margin-right: 50px;
    margin: 0 5px;
}

.social-media-icons a {
    color: #fff;
}

.social-media-icons a:hover {
    opacity: 0.8;
}

.ft {
    font-weight: bold;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
} */

.my-footer {
    background: linear-gradient(-45deg, #27374D, #526D82, #9DB2BF);
    animation: gradient 15s ease infinite;
    /* background-color:#526D82; */
    font-family: 'Hubballi', sans-serif;
    display: flex;
    justify-content: space-around;
}

.my-footer h6 {
    text-transform: uppercase;
    font-size: medium;
    margin-top: 10px;
}

.first-column {
    text-align: center;
    color: #DDE6ED;
}

.second-column {
    text-align: center;
    color: #DDE6ED;
}

.third-column {
    text-align: center;
    color: #DDE6ED;
}

.email {
    color: #fff;
    text-decoration: none;
}

.last-column {
    text-align: center;
    color: #DDE6ED;
}

.last-column a {
    color: #fff;
}

.fa {
    padding: 7px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.copyright {
    font-family: 'Inter', sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    width: 100%;
    background-color: #24354d;
}

/* video */

.video-background {
    position: relative;
}

.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;

    object-fit: cover;
    z-index: -1;
}

.text-on-video {
    font-family: 'Alike Angular', sans-serif;
    font-size: 100px;
    color: white;
    position: relative;
    margin-bottom: 20px;
    /* text-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2); */
    text-align: center;
    /* text-shadow: #526D82,2px; */
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
