.card {
    width: 1100px;
    height: 300;
    margin: 50px auto 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    background-color: #D6D7D2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Hubballi';
}

.card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.product {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
    color: #333;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-image {
    width: 100%;
    max-width: 150px;
    display: block;
    margin: 0 auto;
}

.product-name {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.product-price {
    font-size: 16px;
    color: #888;
    text-align: center;
}

.card-image-main {
    float: left;
    margin-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    width: 250px;
    height: 250px;
    margin-right: 10px;
}

.mainn {
    font-size: 70px;
}

main {
    text-align: center;
    margin-top: 30px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

footer {
    /* background-color: #333;
    color: #fff; */
    padding: 5px;
    height: 200px;
    font-size: larger;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    text-align: left;
}

.footer-middle {
    text-align: center;
}

.footer-right {
    text-align: right;
}

.footer-left p,
.footer-middle p,
.footer-right p {
    margin: 5px 0;
}

.social-media-icons img {
    width: 30px;
    margin-right: 50px;
    margin: 0 5px;
}

.social-media-icons a {
    color: #fff;
}

.social-media-icons a:hover {
    opacity: 0.8;
}

.ft {
    font-weight: bold;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}