/* Body */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Alike Angular', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #27374D;
}


/* Header */

header {
    font-family: 'Inter', sans-serif;
    background-color: #27374D;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    color: #fff;
}

.logo img {
    height: 80px;
    width: auto;
}

nav {
    position: relative;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 10px;
}

nav ul li:last-child {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.icon {
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}


/* Main */

main {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}


/* Footer */

footer {
    font-family: 'Hubballi', sans-serif;
    background-color: #526D82;
    color: #DDE6ED;
    padding: 10px;
    text-align: center;
}