* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Alike Angular', sans-serif;
    line-height: 1.6;
    /* background-color: #F0F0F0; */
    color: #27374D;
  }
  /* Header */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  header {
    position: absolute;
    width: 100%;
    z-index: 3;
  }
  
  .logo {
    height: 60px ;
    width: 60px;
    display: flex;
    align-items: center;
    color: #27374D;
    margin-left: 20px ;
    margin-top: 8px;
}

.logo img {
    height: 80px;
    width: auto;
}


  .navbar {
    overflow: hidden;
    background-color: transparent; 
    /* background-color: rgba(39, 55, 77, 0.5); */
    align-items: center;
    padding: 0px;
    z-index: 1;
  width: 100%;

  }
  
  .navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 32px 6px;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  .subnav {
    float: right;
    overflow: hidden;
    z-index: 1;
    
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 25px 26px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    z-index: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  

   .subnav:hover .subnavbtn {
    /* background-color: rgba(39, 55, 77, 0.25); */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    /* opacity: 0.5; */
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    /* background-color:  rgba(39, 55, 77, 0.25);
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
    
  }
  
  .subnav-content a {
    float: none;
    color: white;
    text-decoration: none;
    margin-right:63px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    display: block;
    padding: 12px 16px;
   
  }
  
  .subnav-content a:hover {
    /* background-color:  rgba(255, 255, 255, 0.2); */
    color: black;
   
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background-color: #ddd;
  }
  
  .subnav:hover .subnav-content {
    display: block;  }

.icon {
    display: flex;
    align-items: center;
    margin-left: 30px;
    cursor: pointer;
    float: right;
    margin-top: px;
}
  
  .icon img {
    height: 40px;
    float: right;
   
  }

  .icon img:hover  {
    opacity: 0.5;
  }
    */
  /* Main */
  main {
    padding: 0px;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .imageone {
    width: 100%;
  }
  .collection {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image1 {
    /* border-radius: 25%; */
     margin-top: 60px;
    margin-right: 15px;
    margin-left: 6%;
    width: 29.65%;
    height: 100%;
  }
  .image1:hover {
    opacity: 0.7;
  }
  .image2 {
    /* border-radius: 25%; */
     margin-top: 60px;
    margin-right: 15px;
    width: 30%;
    height: 100%;
  }
  .image2:hover {
    opacity: 0.7;
  }
  .image3 {
    /* border-radius: 5%; */
     margin-top: 60px;
    margin-left: px;
    width: 28.3%;
    height: 100%;
  }
  .image3:hover {
    opacity: 0.7;
  }
  .collection {
    position: relative;
    display: inline-block;
  }
 
  .content4 {
  margin-left: 370px ;
  margin-right: 370px;
  margin-top: 110px;
  text-align: center;
  color: rgb(0, 0, 0);
  text-shadow:0 2px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .content4 h2 {font-family: alike;
  font-size: 40px;
  margin-bottom: 10px;
  }
  .content4 p {font-family: alike;
  font-size: 25px;
  margin-bottom: 20px;
  }
  .manandwomen img {
    margin-top: 110px;
    width: 100%;
  }
  .content5 {
    margin-left: 370px ;
    margin-right: 370px;
    margin-top: 90px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow:0 2px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .content5 h2 {font-family: alike;
    font-size: 50px;
    margin-bottom: 10px;
  }
  .content5 p {font-family: alike;
    font-size: 25px;
    margin-bottom: 20px;
  }
  .content6 {
    margin-left:0px ;
    margin-right:0px;
    margin-top: 130px;
    text-align:center ;
    color: rgb(0, 0, 0);
    background: rgb(231, 231, 231);
  }
  .content6 h2 {font-family: alike;
    font-size: 90px;
    margin-bottom: 10px;
  }
  .content6 p {font-family: alike;
    font-size: 72px;
    margin-bottom: 20px;
  }
  .glass img{
    margin-top:5%;
    margin-left:5%;
    width:26.5% ;
    /* box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2); */
  }
  .Offers {
    margin-left: 40%;
    width: 296px;
    height: 70px;
    left: 122px;
    top: 380px;
    font-family: 'Aoboshi One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: lowercase;
    color: #27374D;
  }
  .special-Offers {
    width: 100%;
    height: 138px;
    left: 0px;
    top: 468px;
    mix-blend-mode: multiply;
    opacity: 0.9;
    box-shadow: 5px 5px 4px #DCE6EE;
    padding: 10px;
    display: flex;
    background-color: #E9E7E1;
  }
  .offer-text {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 300px;
    font-size: 60px;
    line-height: 42px;
    color: #27374D;
  }
  .img-1 {
    width: 100px;
    height: 100px;
    margin-left: 60%;
  }
  .img-2 {
    width: 100px;
    height: 100px;
  }
  .img-3 {
    width: 100px;
    height: 100px;
  }
  .sepcial-offers {
    width: 100%;
  }
  .brands {font-family: alike;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    text-decoration: underline;
    color: #000000;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 70px;
  }
  .brand-names  {
    color: black;
    display: flex;
    justify-content: space-around;
  }
  .img1 {
   width: 120px;
   height: 30px;
   margin-top: 75px;
   
   margin-left:50px ;
  }
  .img1:hover {
    opacity: 0.5;
  }
  .img2 {
    width: 150px;
    height: 170px;
   margin-right: 15px;
  }
  .img2:hover {
    opacity: 0.5;
  }
  .img3 {
    width: 150px;
    height: 100px;
     margin-top: 25px;
  }
  .img3:hover {
    opacity: 0.5;
  }
  /* Style the video: 100% width and height to cover the entire window */
  #myVideo {
    width: 100%;
  }

  .video-background {
    position: relative;
  }
  
  .video-background video {
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
  
    object-fit: cover;
    z-index: -1;
  }

  .content {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    /* background: rgba(0, 0, 0, 0.5); */
    color: #F1F1F1;
    width: 100%;
    padding: 20px;
    
  }
  .content h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    text-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .content p {
    font-size: 1.22222rem;
    margin-bottom: 20px;
    text-shadow:0 2px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .content button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #FFFFFF;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .content button:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
  }
/*footer*/
  .my-footer{
    background: linear-gradient(-45deg, #27374D, #526D82, #9DB2BF);
    animation: gradient 15s ease infinite;
    /* background-color:#526D82; */
    font-family: 'Hubballi', sans-serif;
    display: flex;
    justify-content: space-around;
  }
  .my-footer h6{
   text-transform: uppercase;
   font-size: medium;
   margin-top: 10px;
  }
  .first-column{
    text-align: center;
    color: #DDE6ED;
  }
  .second-column{text-align: center;
    color: #DDE6ED;
  }
  .third-column{
    text-align: center;
    color: #DDE6ED;
  }
  .email{
    color: #fff;
    text-decoration: none;
  }
  .last-column{text-align: center;
    color: #DDE6ED;}
   .last-column a{
    color: #fff;
   }
   .fa {
    padding: 7px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
   .copyright{font-family: 'Inter', sans-serif;
      display: flex;
      text-align: center;
      justify-content: center;
      color: #fff;
      position: absolute;
      width: 100%;
      background-color:#24354d;}

    .sstyle p a {
        text-decoration: none;
        color: #FFFFFF;
    }









